// mixins
@mixin FadeIn($dur) {
    animation-name: fadeIn;
    animation-duration: $dur;
    animation-fill-mode: both;
} 
@mixin Delay($del) {
    animation-delay: $del;
}
// ---------------------------------------------------------------
// keyframes
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideDown {
    from {
        transform: translateY(-20%);
    }
    to {
        transform: none;
    }
}
@keyframes slideLeft {
  to {
    transform: translateX(-10px);
  }
}
// ---------------------------------------------------------------
// loops
$timings: (
  '100': 100ms,
  '300': 300ms,
  '1000': 1s
);

@each $durName, $dur in $timings {
    .tl-#{$durName} {
        transition: all $dur;
    }
    .fade-out-#{$durName} {
        opacity: 0;
        transition:
        all 500ms ease-out;
    }
    .fade-in-#{$durName} {
      @include FadeIn($dur)
    }
     .slide-down-#{$durName} {
        animation-name: slideDown, fadeIn;
        animation-duration: $dur;
        animation-fill-mode: both;
    }
  @each $delName, $del in $timings {
    .fade-in-dur-#{$durName}-del-#{$delName} {
      @include FadeIn($dur);
      @include Delay($del)
    }
  }
}
// ---------------------------------------------------------------
