<div class="w-100 vh-100 position-relative d-flex justify-content-center align-items-center">
        <h2 class="text-white position-absolute top-0 mt-3 start-50 translate-middle-x" >enter-leave animations</h2>
        <button (click)="toggle()" style="top: 20%;" class="btn position-absolute start-50 translate-middle  btn-dark px-4 py-2 rounded-3">toggle</button>
        @if(show()) {
            <app-young-walrus-64 class="tl-1000" animate.leave="fade-out-1000" ></app-young-walrus-64>
        }
</div>